@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p><h3>Kevin Roberts</h3><br/>
    <address>10915 SW Hall Blvd.<br/> Apt 5<br/> Tigard, OR 97223</address>
</p>
